body {
  font-family: Arial, sans-serif;
  background: #cfcdcd;
  padding: 20px;
}

.container {
  text-align: center;
  max-width: 600px;
  margin: auto;
  background: rgb(77, 76, 76);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.ficha {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 400px;
  margin: 20px auto;
  overflow: hidden;
}

.fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.brasao {
  position: absolute;
  top: 185px;
  right: 60px;
  width: 75px;
  height: auto;
  z-index: 2;
  opacity: 0.85;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.363));
}

.campo {
  position: absolute;
  z-index: 1;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
  width: 260px;
  left: 20px;
  text-align: left;
}

/* Campos posicionados */
#nome { top: 95px; }
#nascimento { top: 105px; }
#naturalidade { top: 115px; }
#rg { top: 125px; }
#local { top: 135px; }
#endereco { top: 145px; }
#distrito { top: 155px; }
#equipe { top: 165px; }
#bopm { top: 175px; }
#bopc { top: 185px; }
#flagrante { top: 195px; }

.campo {
  position: absolute;
  z-index: 1;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 6px;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  width: 180px;
  left: 20px;
  text-align: left;
}

.campo1 {
  position: absolute;
  top: 170px;               
  left: 40px;              
  width: 220px;            
  height: 220px;           
  background-color: rgba(255, 255, 255, 0.527);
  border-radius: 8px;
  z-index: 0;             
}
